.DS_store
*xcodeproj*
sources/*
Lessons/Les5-graphics/Les5-graphics/cute_image.jpg
Lessons/Les5-graphics/Les5-graphics/sansation.ttf
Lessons/Les5-graphics/Les5-graphics/nice_music.ogg
Lessons/Les5-graphics/Les5-graphics/icon.png
Lessons/Les6/Les6/cute_image.jpg
Lessons/Les6/Les6/icon.png
Lessons/Les6/Les6/nice_music.ogg
Lessons/Les6/Les6/sansation.ttf
